@charset "UTF-8";
/* CSS Document */
*
{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'
}
nav{
	background: #036832;
	position: fixed;
	width: 100%;
	z-index: 999;
}
nav .wrapper{
	max-width: 1250px;
	padding: 0 5px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 65px;
}
.wrapper .nav-links{
	display: inline-flex;
}
.nav-links li{
	list-style: none;
}
.nav-links li a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 9px 15px;
	border-radius: 4px;
}
.nav-links li a:hover{
	background: #213B35;
}

div.picture1 {
   width:153px; 
   height:60px; 
   background-image:url('Carlsberglogof.png'); 
}